.inputs {
    position: fixed;
    top: 350px;
}

form input {
    border-right: 0px;
    outline: none;
    border: 0.5px solid #2F06B990;
}

.error {
    font-size: 10px;
}
.bounding{
    position: absolute;
}
.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px #149df2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.font-size{
    font-size: 10px;
}