@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('./components/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.particles{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}